{% load crispy_forms_tags %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>ClockPunch</title>
<!--  -->
  <link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}css/ui-darkness/jquery-ui-1.8.18.custom.css" />
  <link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}css/3col.css" />
	<script src="{{ STATIC_PREFIX }}js/jquery-1.7.1.min.js" type="text/javascript"></script>
	<script src="{{ STATIC_PREFIX }}js/jquery-ui-1.8.18.custom.min.js" type="text/javascript"></script>
	<script src="{{ STATIC_PREFIX }}js/jquery-ui-vertical-buttonset.js"></script>

<script>
	$(function() {
		$( "div.controls" ).buttonsetv();
		$( "label.requiredField" ).addClass("ui-widget-header");
		$( "form > div.control-group" ).addClass("col1")
		$( "div.control-group + div.control-group" ).addClass("col2")
		$( "div.form-actions" ).addClass("col3")
 		$( "input:submit" ).button();
	});
	</script>


</head>
<body>
<hr>

<div class="colmask">
<div class="colmid">
<div class="colleft">
{% crispy form %}
</div>
</div>
</div>
<hr>

<hr>
<div class="footer">
<table>
<tr><td>time</td><td>Who</td><td>What</td></tr>
{% for punch in last_ten_punches %}
	<tr>
		<td>{{ punch.tstamp|date:"M-d h:i A" }}</td>		<td>{{ punch.worker }}</td> <td>{{ punch.job }}</td>
	</tr>
	{% endfor %}
</table>
</div>
  <script>
    $(document).bind("mobileinit", function(){
      $.mobile.ajax.enabled = false;
    });
  </script>


</body>
</html>
