<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>ClockPunch</title>
	<style> 
	* {
		font-size: xx-large;
	}

	</style>
</head>
<body>

<form method="post">
{% csrf_token %}
<p>{{ form.non_field_errors }}</p>
<table>
<thead>Job Tracking</thead>
<tr>
<th>Who</th><th>What</th>
</tr>
	<tr>
		<td>	{{ form.worker }}</td>
		<td>	{{ form.activity }}</td>
	</tr>
<tr>
<th>{{ form.worker.errors }}</th>
<th>{{ form.activity.errors }}</th>
</tr>
</table>

	<input type="submit" />
</form>
<hr>
<table>
<tr><td>time</td><td>Who</td><td>What</td></tr>
{% for punch in last_ten_punches %}
	<tr>
		<td>{{ punch.tstamp|date:"M-d h:i A" }}</td>		<td>{{ punch.worker }}</td> <td>{{ punch.job }}</td>
	</tr>
	{% endfor %}
</table>

</body>
</html>
