{% extends "timeclock/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Clock punch{% endblock title %}

{% block head %}<!--  -->

<script>
	$(function() {
		$( "div.controls" ).buttonsetv();
		$( "label.requiredField" ).addClass("ui-widget-header");
		$( "form > div.control-group" ).addClass("col1")
		$( "div.control-group + div.control-group" ).addClass("col2")
		$( "div.form-actions" ).addClass("col3")
 		$( "input:submit" ).button();
	});
	</script>
{% endblock head %}

{% block content %}<hr>

<div class="colmask">
<div class="colmid">
<div class="colleft">
{% crispy form %}
</div>
</div>
</div>
<hr>

<hr>
<div class="footer">
<table>
<tr><td>time</td><td>Who</td><td>What</td></tr>
{% for punch in last_ten_punches %}
	<tr>
		<td>{{ punch.tstamp|date:"M-d h:i A" }}</td>		<td>{{ punch.worker }}</td> <td>{{ punch.job }}</td>
	</tr>
	{% endfor %}
</table>
</div>
  <script>
    $(document).bind("mobileinit", function(){
      $.mobile.ajax.enabled = false;
    });
  </script>


{% endblock content %}
